<ng-template #content let-modal>
        <div class="modal-content">
            <form class="px-4 py-3">
                <div class="form-group">
                    <label for="exampleDropdownFormEmail1">Логин</label>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail1"  autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormPassword1">Пароль</label>
                    <input type="password" class="form-control" id="exampleDropdownFormPassword1" >
                </div>
                <div class="d-flex justify-content-between mr-0">
                    <button type="submit" class="btn btn-dark col-3">Войти</button>
                    <button type="button" class="btn btn-danger col-3" (click)="close">Закрыть</button>
                </div>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/registration" data-dismiss="modal">Новенький здесь? Регистрация</a>
        </div>
</ng-template>
<button class="btn btn-outline-primary" (click)="open(content)">Войти</button>

