<div class="container">
    <br>
    <table class="table table-bordered table-dark table-sm">
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Department id</th>
            <th>Job title</th>
            <th>Gender</th>
            <th>Date of birth</th>
        </tr>
        <tr *ngFor="let employee of employees">
            <td>{{employee?.idEmployee}}</td>
            <td>{{employee?.firstName}}</td>
            <td>{{employee?.lastName}}</td>
            <td>{{employee?.idDepartment}}</td>
            <td>{{employee?.jobTitle}}</td>
            <td>{{employee?.gender}}</td>
            <td>{{employee?.date}}</td>
        </tr>
    </table>
    <br>
    <div class="input-group">
        <input type="text"  placeholder="Write employee ID"   class="form-control"  [(ngModel)]="employee.idEmployee" name="firstName">
        <div class="input-group-append" id="button-addon4">
            <button class="btn btn-outline-secondary" (click)="deleteEmployeeById(employee)" onClick="window.location.reload();">Delete</button>
            <button class="btn btn-outline-secondary" (click)="getEmployeeById(employee)" (click)="showEdit()" >Find</button>
        </div>
    </div>
    <br>
    <form *ngIf="isEdit">
    <table class="table table-bordered table-dark table-sm">
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Department id</th>
            <th>Job title</th>
            <th>Gender</th>
            <th>Date of birth</th>
        </tr>
            <td>{{findEmployee?.idEmployee}}</td>
            <td>{{findEmployee?.firstName}}</td>
            <td>{{findEmployee?.lastName}}</td>
            <td>{{findEmployee?.idDepartment}}</td>
            <td>{{findEmployee?.jobTitle}}</td>
            <td>{{findEmployee?.gender}}</td>
            <td>{{findEmployee?.date}}</td>
    </table>
        </form>
</div>


