.kat{
    margin-top: 116px;
    margin-left: 108px;
    font-size: 36px;
    font-weight: bolder;
}
.new{
     margin-top: 45px;
     margin-left: 108px;
     font-size: 21px;
 }
.k{
    margin-top: 17px;
    margin-left: 108px;
    font-size: 20px;
}
.filtr{
     margin-top: 67px;
     margin-left: 108px;
     font-size: 36px;
     font-weight: bolder;
 }
.price{
    margin-top: 52px;
    margin-left: 108px;
    font-size: 20px;
    font-weight: bolder;
}
.table{
    margin-top: -454px;
    margin-left: 170px;
}

