<img src="assets/img/catalog.png" alt="o nas" style="display: block;height:auto; width: 100%;">
<p class="kat">Категории</p>
<p class="new">НОВЫЕ ПОСТУПЛЕНИЯ</p>
<p class="k">КРЕСЛЫ И ДИВАНЫ</p>
<p class="k">СВЕТИЛЬНИКИ</p>
<p class="k">СТЕЛЛАЖИ</p>
<p class="k">СТОЛЛЫ</p>
<p class="filtr">Фильтры</p>
<p class="price">Цена</p>
<<div class="card" style="width: 18rem;">
    <img src="assets/img/kreslo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Кресло</h5>

    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="text-align: center;">$50</li>
    </ul>
    <div class="card-body">
        <p href="#" class="card-link" style="text-align: center;">Добавить в корзину</p>
    </div>
</div>
