.kat{
    margin-top: 66px;
    margin-left: 108px;
    font-size: 36px;
    font-weight: bolder;
}
.new{
     margin-top: 45px;
     margin-left: 108px;
     font-size: 21px;
 }
.filtr{
     margin-top: 67px;
     margin-left: 108px;
     font-size: 36px;
     font-weight: bolder;
 }
.price{
    margin-top: 52px;
    margin-left: 108px;
    font-size: 20px;
    font-weight: bolder;
}
.table{
    margin-top: -456px;
    margin-left: 170px;
}

button{
    margin-left: 95px;
    font-size: 20px;
    color: black;
}
.white{
    background:white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
.credit-card-div span {
    padding-top:10px;
}
.credit-card-div img {
    padding-top:30px;
}
.credit-card-div .small-font {
    font-size:9px;
}
.credit-card-div .pad-adjust {
    padding-top:10px;
}
