<app-carousel-basic-component></app-carousel-basic-component>
<img src="assets/img/O_nas.png" id="1" alt="o nas" style="display: block;height:auto; width: 100%;">
<body>
<header class="header" id="2">
    <h1 class="header-text white">Наша </h1>
    <h1 class="header-text brown">Продукция</h1>
</header>
<main class="main">
    <div class="shading"></div>
    <a routerLink="/catalog" class="img-link" href="">
        <span class="img-text">СПАЛЬНИ</span>
        <img class="img" src="assets/img/bedroom.jpg" alt="" />
        <img class="arrow" src="assets/img/arrow.png" alt="" />
    </a>
    <a routerLink="/catalog" class="img-link" href="">
        <span class="img-text">ВАННЫЕ</span>
        <img class="img" src="assets/img/bathroom.jpg" alt="" />
        <img class="arrow" src="assets/img/arrow.png" alt="" />
    </a>
    <a routerLink="/catalog" class="img-link" href="">
        <span class="img-text">КУХНИ</span>
        <img class="img" src="assets/img/kitchen.jpg" alt="" />
        <img class="arrow" src="assets/img/arrow.png" alt="" />
    </a>
    <a routerLink="/catalog"  class="img-link" href="">
        <span class="img-text">ГОСТИНЫЕ</span>
        <img class="img" src="assets/img/livingRoom.jpg" alt="" />
        <img class="arrow" src="assets/img/arrow.png" alt="" />
    </a>
</main>
</body>
<img src="assets/img/12_2.png" alt="o nas" style="display: block;height:auto; width: 100%;">
<footer id="6">
    <p style="text-align: left;margin-left: 211px;color: rgba(196, 196, 196, 1)">
        <b style="color: white;font-size: 22px">О компании</b><br>
        Офисы компании<br>
        Новости<br>
        Проесс-центр<br>
        Гарантии компании<br>
        Карьера в компании<br>
        Наши партнеры<br>
    </p>
    <p style="text-align: left;margin-left: 606px;margin-top: -192px;color: rgba(196, 196, 196, 1)">
        <b style="color: white;font-size: 22px">Информация</b><br>
        Доставка<br>
        Гарантии<br>
        Связаться с нами<br>
        + 375 (29) 234 14 14<br>
        sofalux@gmail.com<br>
    </p>
    <p style="text-align: left;margin-left: 1032px;margin-top: -169px;color: rgba(196, 196, 196, 1)">
        <b style="color: white;font-size: 22px">Каталог</b><br>
        Спальни<br>
        Гостинные<br>
        Ванные<br>
        Кухни<br>
    </p>
    <a href = "https://twitter.com/VKL_Vitayt">
    <img style="margin-left: 1032px;margin-top: -269px;" src="assets/img/twitter.png" alt="" />
    </a>
    <a href = "https://www.linkedin.com/in/igor-kabushkov-135bb0159/">
    <img style="margin-left: 1132px;margin-top: -319px;" src="assets/img/linkedin-logo.png" alt="" />
    </a>
    <a href = "https://www.instagram.com/studentyby/">
    <img style="margin-left: 1232px;margin-top: -359px;" src="assets/img/instagram.png" alt="" />
    </a>
    <a href = "https://www.facebook.com/VKLVitayt">
    <img style="margin-left: 1332px;margin-top: -409px;" src="assets/img/facebook.png" alt="" />
    </a>
    <br>
    <br>
    © 2019 Khamrytseleva & Kabushkov Все права защищены
</footer>
