<app-carousel-basic-component></app-carousel-basic-component>
<img src="assets/img/O_nas.png" id="1" alt="o nas" style="display: block;height:auto; width: 100%;">
<body>
<header class="header" id="2">
    <h1 class="header-text white">Наша </h1>
    <h1 class="header-text brown">Продукция</h1>
</header>
<main class="main">
    <div class="shading"></div>
    <a routerLink="/catalog" class="img-link" href="">
        <span class="img-text">СПАЛЬНИ</span>
        <img class="img" src="assets/img/bedroom.jpg" alt="" />
        <img class="arrow" src="assets/img/arrow.png" alt="" />
    </a>
    <a routerLink="/catalog" class="img-link" href="">
        <span class="img-text">ВАННЫЕ</span>
        <img class="img" src="assets/img/bathroom.jpg" alt="" />
        <img class="arrow" src="assets/img/arrow.png" alt="" />
    </a>
    <a routerLink="/catalog" class="img-link" href="">
        <span class="img-text">КУХНИ</span>
        <img class="img" src="assets/img/kitchen.jpg" alt="" />
        <img class="arrow" src="assets/img/arrow.png" alt="" />
    </a>
    <a routerLink="/catalog"  class="img-link" href="">
        <span class="img-text">ГОСТИНЫЕ</span>
        <img class="img" src="assets/img/livingRoom.jpg" alt="" />
        <img class="arrow" src="assets/img/arrow.png" alt="" />
    </a>
</main>
</body>
<img src="assets/img/12_2.png" alt="o nas" style="display: block;height:auto; width: 100%;">
<footer id="6">
    2019 Khamrytseleva & Kabushkov Все права защищены
</footer>
