<div class="container">
    <br>
    <form class="form-group">
        <div>
            <input type="text" placeholder="First name" class="form-control"  [(ngModel)]="employee.firstName" name="firstName">
            <br>
            <input type="text" placeholder="Last name" class="form-control" [(ngModel)]="employee.lastName" name="lastName">
            <br>
            <input type="number" placeholder="Department id" class="form-control" [(ngModel)]="employee.idDepartment" name="idDepartment">
            <br>
            <input type="text" placeholder="Job title" class="form-control" [(ngModel)]="employee.jobTitle" name="jobTitle">
            <br>
            <input type="text" placeholder="Gender" class="form-control" [(ngModel)]="employee.gender" name="gender">
            <br>
            <input type="date" placeholder="Date of birth" class="form-control" [(ngModel)]="employee.date" name="date">
            <br>
        </div>
        <button class="btn btn-dark" (click)="insertEmployee(employee)" onClick="window.location.reload();">Add new Employee</button>
    </form>

</div>


