a.active {
    color: whitesmoke;
    font-size: 15px;
}
//button{
//    margin-left: 600px;
//    weight: 24px;
//    height: 40px;
//}
footer{
    text-align: center;
    background: rgba(39, 39, 39, 1);
    color:rgba(173, 144, 101, 1);
}
