<p class="reg">Регистрация</p>
<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Имя</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Фамилия</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Телефон</label>
        <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Логин</label>
        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Пароль</label>
        <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="">
    </div>
</form>
<button class="btn btn-dark">Войти</button>
<img src="assets/img/reg.png"  alt="reg">
