.reg{
    margin-top: 80px;
    margin-left: 390px;
    font-size: 30px;
}
button{
    margin-top: 40px;
    margin-left: 191px;
    width:576px;
}
div{
    margin-left: 191px;
    width:576px;
}
img{
    margin-top: -800px;
    margin-left: 850px;
    width:686px;
    height:856px;
}
