<carousel  id="7">
    <slide>
        <img src="assets/img/1.jpg" alt="first slide" style="display: block; height:705px; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h5>Мебель SofaLUX</h5>
            <p>Наша мебель изготавливается из экологически чистого влагостойкого дсп класса E0 </p>
        </div>
    </slide>
    <slide>
        <img src="assets/img/2.jpg" alt="second slide" style="display: block; height:705px;width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h5>Дизайн</h5>
            <p>Невероятный дизайн и исключительная эстетика мебель SofaLUX сделает Ваш дом исключительно теплым и манящим</p>
        </div>
    </slide>
    <slide>
        <img src="assets/img/3.jpg" alt="third slide" style="display: block;height:705px; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h5>Работаем с 2019 года</h5>
            <p>Создаем мебель, проверенную временем</p>
        </div>
    </slide>
    <slide>
        <img src="assets/img/4.jpg" alt="third slide" style="display: block; height:705px; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h5>Технологии</h5>
            <p>Нам важно предложить нашим Клиентам что-то больше чем просто простоя мебель</p>
        </div>
    </slide>
</carousel>



